<%= render 'nav' %>

<article>
<header>
<h1>!<%= @channel.name %></h1>
<div class="actions">
<h5><%= link_to 'Edit', edit_organization_channel_path(@organization, @channel) %></h5>
<h5><%= link_to 'Delete', [@organization, @channel], data: { confirm: 'Are you sure you want to delete this channel?' }, method: :delete %></h5>
</div>
</header>

<section class="nested">
<p><%= pluralize(count_relation(@ripples), 'ripple') %></p>
<ul class="ripples">
<%= render @ripples %>
</ul>
</section>

<section class="nested">
<%#= render 'item-form', item_tag_relationship: @new_item_relationship %>
</section>

<nav>
<p><%= link_to 'Back to Channels', organization_channels_path(@organization) %></p>
</nav>
</article>
