<%= render 'organizations/nav' do %>
<h1>Records</h1>
<% end %>

<article>

<% if @item_relationships.nil? %>

<p>Tag items #record for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'record') %> tagged</p>

<section>
<% @items.each do |item| %>
  <figure class="nested">
    <small><strong><%= item[:sha256] %></strong></small>
    <pre><%= item[:text] %></pre>
    <figcaption>
    <%= render partial: 'shared/tag_relationships', object: item[:tag_relationships] %> 
    </figcaption>
  </figure>
<% end %>
</section>

<% end %>

</article>