<%= render 'nav' %>

<% @scripts_urls.each do |url| %>
  <%= javascript_include_tag url %>
<% end %>

<% @scripts_inline.each do |content| %>
  <%= javascript_tag content %>
<% end %>

<article>

<header>
<h1>Edit <%= @service_credential.kind_display %></h1>
</header>

<section>
<%= render 'form', service_credential: @service_credential %>
</section>

</article>
