<%= form_for([@organization, s3_credential]) do |f| %>
  <% if s3_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(s3_credential.errors.count, "error") %> prohibited this S3 Credential from being saved:</h2>

      <ul>
      <% s3_credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :access_key_id %>
    <%= f.text_field :access_key_id %>
  </div>

  <div class="field">
    <%= f.label :secret_access_key %>
    <%= f.text_field :secret_access_key %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
