<%= render 'nav' %>

<article>

<header>
<dl>
  <dt>Access Key ID</dt>
  <dd><%= @s3_credential.access_key_id %></dd>
  <dt>Secret Access Key</dt>
  <dd><%= @s3_credential.secret_access_key %></dd>
  <dt>Region</dt>
  <dd><%= @s3_credential.region %></dd>
</dl>
<p>
<%= link_to 'Edit Credential', edit_organization_s3_credential_path(@organization, @s3_credential) %>
</p>
</header>

<nav>
<p>
<%= link_to 'All S3 Credentials', organization_s3_credentials_path(@organization) %>
</p>
</nav>

</article>