<%= render 'nav' %>

<article>
<header>
<h1>#<%= @tag.name %></h1>
<div class="actions">
<h5><%= link_to 'Edit', edit_organization_tag_path(@organization, @tag) %></h5>
<h5><%= link_to 'Delete', [@organization, @tag], data: { confirm: 'Are you sure you want to delete this tag?' }, method: :delete %></h5>
</div>
</header>

<%= render partial: 'relationships', locals: { item_relationships: @text_items, item_name: 'text', can_remove: false, kind: 'text', kind_class: 'text-tint' } %>
<%= render partial: 'relationships', locals: { item_relationships: @image_items, item_name: 'image', can_remove: false, kind: 'image', kind_class: 'image-tint' } %>
<%= render partial: 'relationships', locals: { item_relationships: @record_items, item_name: 'record', can_remove: false, kind: 'record', kind_class: 'record-tint' } %>

<%= render partial: 'relationships', locals: { item_relationships: @item_relationships, item_name: 'item' } %>

<section class="nested">
<%= render 'item_form', item_tag_relationship: @new_item_relationship %>
</section>

<nav>
<p><%= link_to 'Back to Tags', organization_tags_path(@organization) %></p>
<p><%= link_to 'New Tag', new_organization_tag_path(@organization) %></p>
</nav>
</article>
