<%= render 'nav' %>

<article>
<header>
<h1>#<%= @tag.name %></h1>
<p><%= link_to 'Edit', edit_organization_tag_path(@organization, @tag) %></p>
</header>

<section>
<p><%= pluralize(@item_relationships.count, 'item') %> tagged</p>

<ul>
<% @item_relationships.each do |item_relationship| %>
  <li>
  <%= item_relationship.item_sha_256 %>
  </li>
<% end %>
</ul>
</section>

<section class="nested">
<%= render 'item-form', item_tag_relationship: @new_item_relationship %>
</section>

<nav>
<p><%= link_to 'Back to Tags', organization_tags_path(@organization) %></p>
</nav>
</article>
