<% can_remove = local_assigns.fetch :can_remove, true %>
<% show_content = local_assigns.fetch :show_content, false %>
<% tag_relationships = ripple.item_tag_relationships %>

<figure class="ripple" id="<%= ripple.id %>" data-key-base64="<%= ripple.key_base64 %>">

<figcaption>

<%= content_tag :h3 do %>
  <%= link_to organization_channel_key_path(@organization, @channel, ripple.key_base64) do %>
    <%= render 'ripples/dot', { ripple: ripple } %>

    <% if ripple.deleted? %>
    Removed <em><%= ripple.name %></em>
    <% else %>
    <%= ripple.name %>
    <% end %>

    
    <%= ripple.kind %>
  <% end %>

  <small>
  <%= render partial: 'shared/tag_relationships', object: tag_relationships if tag_relationships %>
  </small>
<% end %>

<% unless ripple.deleted? or true %>
<h5 class="ripple_hash">
  <%= ripple.item_sha256 %>
</h5>
<% end %>

<% if show_content %>
  <% ripple.item.try do |item| %>
    <%= render item %>
  <% end %>
<% end %>

</figcaption>

<h6 class="ripple_created-at"><%= time_tag(ripple.created_at, pubdate: true) %></h6>

<div class="actions">
<% if can_remove && !ripple.deleted? %>
<h5><%= link_to 'Remove', [@organization, @channel, ripple], data: { confirm: 'Are you sure?' }, method: :delete %></h5>
<% end %>
</div>

</figure>