<article>

<header>
<h1>@<%= @organization.name %></h1>
<p>
<%= link_to 'Settings', edit_organization_path(@organization) %>
</p>
</header>

<%# @item_tag_relationships.each do |item_tag_relationship| %>
<%#= item_tag_relationship.id %>
<%# end %>

<h2>Ingredients</h2>
<nav>
<p>
<%= link_to 'Texts', organization_texts_path(@organization) %>
</p>
<p>
<%= link_to 'Images', organization_stories_path(@organization) %>
</p>
<p>
<%= link_to 'Records', organization_stories_path(@organization) %>
</p>
</nav>

<h2>Presentation</h2>
<nav>
<p>
<%= link_to 'Units', organization_stories_path(@organization) %>
</p>
<p>
<%= link_to 'Recipes', organization_stories_path(@organization) %>
</p>
<p>
<%= link_to 'Stories', organization_stories_path(@organization) %>
</p>
<p>
<%= link_to 'Showcases', organization_stories_path(@organization) %>
</p>
</nav>

<h2>Settings</h2>
<nav>
<p>
<%= link_to 'Tags', organization_tags_path(@organization) %>
</p>
<p>
<%= link_to 'S3', organization_s3_credentials_path(@organization) %>
</p>
</nav>

</article>