<article>

<header>
<h1>@<%= @organization.name %></h1>
</header>

<h2>
<%= link_to 'Channels', organization_channels_path(@organization) %>
</h2>
<!--<h2>
<%= link_to 'Showcases', organization_stories_path(@organization) %>
</h2>-->

<hr>

<h2>
<%= link_to 'Texts', organization_texts_path(@organization) %>
</h2>
<h2>
<%= link_to 'Images', organization_images_path(@organization) %>
</h2>
<h2>
<%= link_to 'Records', organization_records_path(@organization) %>
</h2>

<hr>

<h2>
<%= link_to 'Stories', organization_stories_path(@organization) %>
</h2>
<h2>
<%= link_to 'Units', organization_stories_path(@organization) %>
</h2>

<hr>

<h2>
<%= link_to 'Recipes', organization_stories_path(@organization) %>
</h2>
<h2>
<%= link_to 'Tags', organization_tags_path(@organization) %>
</h2>

<hr>

<h3>
<%= link_to 'Roles', organization_invitations_path(@organization) %>
·
<%= link_to 'Invite', new_organization_invitation_path(@organization) %>
</h3>

<hr>

<h3>
<%= link_to 'Service Credentials', organization_service_credentials_path(@organization) %>
</h3>
<h3>
<%= link_to 'Organization Settings', edit_organization_path(@organization) %>
</h3>

</article>