<%= render 'nav' %>

<article>

<section class="nested">
<%= render 'tags/item_form', item_tag_relationship: @new_item_relationship %>
<%= render partial: 'write_form', locals: { tag: @tag } %>
</section>

<% if @item_relationships.nil? %>

<p>Tag items #text for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'text') %> tagged</p>

<section>
<%= render partial: 'item', collection: @items, locals: { nested: true } %>
</section>

<% end %>

</article>