<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Organizations · Royal Icing</title>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= render 'layouts/google_analytics' %>
</head>

<body>

<%= render 'layouts/header' %>

<main>

<%= render 'layouts/flash' %>

<%= yield %>

</main>

<% if @script_flambe %>
<%= javascript_include_tag 'flambe', 'data-turbolinks-track': 'reload' %>
<% end %>

</body>
</html>
